@model UpdatePersonalViewModel
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="row">

    <div class="col-md-4 offset-md-4">
        <h4>Update User</h4>
        <hr />
        <h5>@ViewBag.error</h5>
        <form asp-action="UpdateUserPersonalDB" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="Id" value="@ViewBag.user.Id" />
            </div>
            <div class="form-group">
                <label asp-for="Employee_Name" class="control-label"></label>
                <input asp-for="Employee_Name" class="form-control" value="@ViewBag.user.Employee_Name" />
                <span asp-validation-for="Employee_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Surname" class="control-label"></label>
                <input asp-for="Employee_Surname" class="form-control" value="@ViewBag.user.Employee_Surname" />
                <span asp-validation-for="Employee_Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" value="@ViewBag.user.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" value="@ViewBag.user.UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
